/* src/components/Header.css */
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--containers-bg);
    color: var(--text-color);
}

/* src/components/Logo.css */
.logo h1 {
  display: inline-flex;
  gap: .5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

/* src/components/NavMenu.css */
.nav-menu-toggler {
  display: none;
  cursor: pointer;
}

@media (max-width: 900px) {
  .nav-menu ul li {
    display: none;
  }
  .nav-menu-toggler {
    display: block;
  }
}

.nav-menu ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-menu li {
  margin: 0 1rem;
}

.nav-menu .active-link {
  font-weight: bold;
  border-bottom: 2px solid white;
}

/* src/components/Avatar.css */
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}


/* src/components/ThemeToggleButton.css */
.theme-toggle-button {
  background-color: transparent;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.theme-toggle-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Global styles for theme toggling */
body.light-mode {
  background-color: #fff;
  color: #000;
}

body.light-mode .header {
  background-color: #f0f0f0;
  color: #000;
}

body.light-mode .theme-toggle-button {
  border: 1px solid #000;
  color: #000;
}

.nav-menu .nav-profile {
  display: inline-flex;
  align-items: center;
  gap: .8rem;
}
.nav-menu .nav-profile {
  font-size: 1.5rem;
}
.nav-menu .nav-profile .user-box {
  display: inline-flex;
  align-items: center;
  font-size: .9rem;
  gap: .4rem;
}